@import "../style/fonts.scss";

html {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
}
/*
@media only screen and (max-width: 1440px) {

}
 @media only screen and (max-width: 960px) {

}
@media only screen and (max-width: 600px) {

} 
*/

body {
  position: relative;
  width: 100%;
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
.contentWrapper {
  overflow-x: hidden;
}
button,
input,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  outline: none;
  &:focus {
    outline: none;
  }
}
$mainColor: black;
*::-webkit-input-placeholder {
  color: $mainColor;
}
*:-moz-placeholder {
  color: $mainColor;
  opacity: 1;
}
*::-moz-placeholder {
  color: $mainColor;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: $mainColor;
}
*::-ms-input-placeholder {
  color: $mainColor;
}
* {
  &::placeholder {
    color: $mainColor;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
}

//custom scrollbar

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 #535353;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #535353;
}

*::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 20px;
  border: 3px solid #a8a8a8;
}
@media only screen and (max-width: 600px) {
  .contentWrapper {
    overflow-x: visible;
  }
}
@media only screen and (min-width: 1921px) {
  //wrapper
  .contentWrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    overflow-x: unset;
  }
  .lineH,
  .lineH2 {
    opacity: 0 !important;
  }
}
